<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864889082185-bm6r787srsc5qtg6ounm8njafn5c97ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864889082185-bm6r787srsc5qtg6ounm8njafn5c97ln</string>
	<key>API_KEY</key>
	<string>AIzaSyBb0nP7w7o0W0ZpgIFSwTNQnGERAKGzM6w</string>
	<key>GCM_SENDER_ID</key>
	<string>864889082185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hattoo.Adopby</string>
	<key>PROJECT_ID</key>
	<string>adopby</string>
	<key>STORAGE_BUCKET</key>
	<string>adopby.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864889082185:ios:3ff67729525e068e1fca98</string>
</dict>
</plist>